.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.card {
  width: 350px;
  height: 550px;
  border-radius: 10px;
}
.top {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  height: 25px;
  margin-top: 2px;
  margin-bottom: 2px;
}
.middle {
  display: flex;
  justify-content: center;
  height: 200px;
}
.bottomOne{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  height: 102px;
  margin-top: 25px;
}
.bottomTwo{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 102px;
}
.picture {
  width: 90%;
}
.hp {
  color: red;
}
.characteristics {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}
.lastStuff{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.elementCost{
  height: 25px;
}
.elementW{
  height: 25px;
}
.elementR{
  height: 25px;
}
.elementT{
  height: 25px;
}
.element{
  height: 25px;
}
.editStuff{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin-top: 20px;
}
.container {
  padding: 48px;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
.button{
  display: block;
  border-radius: 6px;
  padding: 8px 16px;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  font-size: 14px;
  line-height: 1.25rem;
}
.button.save {
  background: #155E75;
  color: #fff;
  border: 1px solid #164E63;
}
.add-button-row {
  display: flex;
  justify-content: flex-start;
}