extends layout

block content
  include mixins/pokeCard
  div.container
    form()
      div.form-input
        label()
        select()
          each element in poke
            option(value=element selected = (element === searchElement)) #{element}
      button.button.save(type='submit') Filter
  div.container
    div.add-button-row
      a.button.save(href='/add') Add Poke
  div.container
    each poke in pokes
      +pokeCard(poke)