extends layout

block content
  h1 Enter Your Words
  form(method="POST" action="/story" id="words")
    label(for="noun1") Noun:
    input(type="text" name="noun1" id="noun1" value="person")
    br
    label(for="verb1") Verb:
    input(type="text" name="verb1" id="verb1" value="hear")
    br
    label(for="adjective1") Adjective:
    input(type="text" name="adjective1" id="adjective1" value="unarmed")
    br
    br
    label(for="noun2") Noun:
    input(type="text" name="noun2" id="noun2" value="history")
    br
    label(for="verb2") Verb:
    input(type="text" name="verb2" id="verb2" value="sentence")
    br
    label(for="adjective2") Adjective:
    input(type="text" name="adjective2" id="adjective2" value="beneficial")
    br
    br
    label(for="noun3") Noun:
    input(type="text" name="noun3" id="noun3" value="bird")
    br
    label(for="verb3") Verb:
    input(type="text" name="verb3" id="verb3" value="creep")
    br
    label(for="adjective3") Adjective:
    input(type="text" name="adjective3" id="adjective3" value="thin")
    br
    br
    label(for="storyChoice") Chose One:
    select(form="words" name="storyChoice" id="storyChoice")
      option(value= "1") Story 1
      option(value= "2") Story 2
      option(value= "3") Story 3
      option(value= "4") Pick for me
    br
    button(type="submit" form="words") Tell Me a Story