doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(style=`background-color: ${color}; font-family: ${font}; font-size: ${fsize};`)
    block content
